<div class="container-fluid main-container">
<%= render "layouts/sidenav" %>
<div class="col-md-10 content">

<h2 class="page-header">New Message</h2>

<div class="row col-md-6 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>

<% for user in @users %>
  <% if current_user.id != user.id %>

            <tr>
                <td><%= user.name.humanize %></td>
                <td><%= user.email %></td>
                <td class="text-center">
                <%= link_to '<span class="glyphicon glyphicon-edit"></span> New Message'.html_safe,new_message_path(:recv_uid=> user.id ) %>
                </td>
            </tr>
 
  <% end %>
<% end %>

</table>
    </div>

</div>
</div>