<div class="container-fluid main-container">
<div class="col-md-10 content">

<% @sentmessage.each do |m| %>
   <b>Message:</b><%= m.message %>
   <b>sent to </b>

   <% @name = User.find_by_id(m.receiver_user_id) %> 
   <% if @name == nil || @name == "" %>   
     <i>(user left)</i>
   <% else %>
        <%= link_to @name.name, @name %>    
   <% end %>
<em><%= time_ago_in_words(m.created_at) %> ago </em> 
<%= m.created_at.to_time.to_formatted_s(:db) %> <br>
<% end %>

</div>
</div>