<div class="container-fluid main-container">
<%= render "layouts/sidenav" %>
<div class="col-md-10 content">

 <h2 class="page-header">Received Messages</h2>

<% @message.each do |m| %>
   <div class="row">
    <div class="col-md-8">
        <section class="comment-list">
          <!-- First Comment -->
          <article class="row">
            <div class="col-md-3 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                  <% @name = User.where(:id => m.user_id) %>
                  <% @name.each do |i| %>
                  <% if i.avatar? %>
                  <%= image_tag(i.avatar_url, :width => 50, :height => 50) %>
                  <% else %>
                  <%= image_tag(i.gravatar_url, :width => 50, :height => 50) %>
                  <% end %>
                  <% end %>
                <figcaption class="text-center">       
                  <% @name.each do |n| %>
                  <%= link_to n.name, n %>
                  <% end %>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-9 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <time class="comment-date"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(m.created_at) %> ago | <%= m.created_at.to_time.to_formatted_s(:db) %> </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      <%= m.message %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
    </div>
   </div>

<% end %>

</div>
</div>