<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2 class="page-header">Post</h2>
<div class="row">
        <div class="[ col-xs-6 col-sm-offset-0 col-sm-8 ]">
            <div class="[ panel panel-default ] panel-google-plus">
            <div class="panel-heading">
                    <% if @post.user.avatar? %>
                    <img height="82" width="82" class="[ img-circle pull-left ]" src="<%= @post.user.avatar_url %>" />
                    <% else %>
                    <img height="82" width="82" class="[ img-circle pull-left ]" src="<%= @post.user.gravatar_url %>" />
                    <% end %>
                    <h3><%= link_to @post.user.name, @post.user %>
                    <div class="pull-right <%= @post.class %>-<%= @post.id %>">
                      <%= render 'shared/like_form', likeable: @post %>
                    <div style="float:left;" class="likes"><%= pluralize(@post.likers(User).count, 'like')%></div>
                    </div>
                    </h3>
                    <h5>
                    <% if @post.tags? %>
                      <strong>Tags:</strong>
                      <% @users = User.all %> 
                      <% tag=@post.tags.split(",") %>
                          <% tag.each do |t| %>
                          <% for user in @users %>
                            <% if t == user.name %>
                              <%= link_to t, user %>
                            <% end %>
                          <% end %>
                        <% end %>
                    <% end %>
                    <span class="pull-right"><%= time_ago_in_words(@post.created_at) %> ago</span> 
                    </h5>
                </div>
                <div class="panel-body">
                    <p><% if current_user.id == @post.user_id %>
                      <%= best_in_place @post, :content, :type => :textarea, :nil => "Click me to add content!" %><small><em>(click on the content to edit)</em></small>
                      <% else %>
                      <%= @post.content %>
                      <% end %><br>

                      <% if @post.avatar.present? %>
                        <% file = @post.avatar.url %>
                        <% extension = @post.avatar.file.extension.downcase %>

                        <% if %w{jpg png jpeg gif bmp tiff}.include?(extension) %>
                          <%= link_to image_tag(@post.avatar_url, :width => 500), @post.avatar_url %>
                        <% elsif %w{mp4 mov avi mpg mpeg flv}.include?(extension) %>
                          <%= link_to "play video", @post.avatar_url %>
                        <% elsif %w{mp3 wav}.include?(extension) %>
                          <%= link_to "play audio", @post.avatar_url %>
                        <% else %>
                          <%= link_to "download attatchment", @post.avatar_url %> Format:<%= extension %>
                        <% end %>
                      <% end %>
                    </p>
                </div>
            <div class="panel-footer">
                    <% if current_user.id == @post.user_id %>
                    <%= link_to '<button style="float:left;" type="button" class="[ btn btn-default ]"><span class="[ glyphicon glyphicon-trash ]" style="vertical-align:middle"></span></button>'.html_safe, @post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
             <div class="input-placeholder">Add a comment...</div>
            </div>
            <div class="panel-google-plus-comment">
                    <% if current_user.avatar? %>
                    <img height="42" width="42" class="img-circle" src="<%= current_user.avatar_url %>" alt="User Image" />
                    <% else %>
                    <img height="42" width="42" class="img-circle" src="<%= current_user.gravatar_url %>" alt="User Image" />
                    <% end %>
                    <div class="panel-google-plus-textarea">
                        <textarea required="true" name="comment[body]" rows="4"></textarea>
                        <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
</div>

  <%= f.hidden_field :post_id %>

<% end %>
