<div class="row omb_row-sm-offset-3 omb_socialButtons">
		
		<%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          
          <% if provider.to_s.titleize == "Facebook" %>
    	    <div class="col-xs-4 col-sm-3">
    	    <%= link_to '<i class="fa fa-facebook visible-xs"></i><span class="hidden-xs">Facebook</span>'.html_safe, omniauth_authorize_path(resource_name, provider), :class => 'btn btn-lg btn-block omb_btn-facebook' %>
	        </div>

	      <% elsif provider.to_s.titleize == "Github" %>
        	<div class="col-xs-4 col-sm-3">
		    <%= link_to '<i class="fa fa-twitter visible-xs"></i><span class="hidden-xs">Github</span>'.html_safe, omniauth_authorize_path(resource_name, provider), :class => 'btn btn-lg btn-block omb_btn-twitter' %>
	        </div>	
	      <% end %>

	    <% end -%>
	    <% end -%>

		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>