<div class="container-fluid main-container">
<%= render "layouts/sidenav" %>
<div class="col-md-10 content">

<h2 class="page-header">Users</h2>

<form class="navbar-form navbar-left" method="get" id="search-form">
        <div class="form-group">
          <input type="text" name="<%= :search %>" class="form-control" placeholder="Search Users">
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
</form>
<br style="clear:both">
<% for user in @users %>

<% if current_user.id != user.id %>

        <div class="col-sm-3">
          <div class="hero-widget well well-sm">
                <div>
                     <% if user.avatar? %>
                       <%= image_tag(user.avatar_url, :width => 100, :height => 100) %>
                     <% else %>                 
                       <%= image_tag(user.gravatar_url, :width => 100, :height => 100) %>   
                     <% end %>
                </div>
                <div class="text">
                    <label class="text-muted"><%= link_to user.name, user %></label>
                </div>
                <span class=" badge badge-info">Friends: <%= user.friends.count %></span>
                <div class="options">
                  <%if current_user.friends.include? user %>
                  <%= link_to '<i class="glyphicon glyphicon-plus"></i> Remove Friend'.html_safe, friendship_path(current_user.friendships.find_by_friend_id(user)), :class => 'btn btn-primary btn-lg', :method => :delete %>
                  <% else %>
                  <%= link_to '<i class="glyphicon glyphicon-plus"></i> Add Friend'.html_safe, friendships_path(:friend_id => user), :class => 'btn btn-primary btn-lg', :method => :post %>
                  <% end %>
                </div>
          </div>
        </div>

<% end %>
<% end %>

</div>
</div>