<div class="container-fluid main-container">
<%= render "layouts/sidenav" %>
<div class="col-md-10 content">

<%= render 'posts/form' %>
<%= render 'posts/index' %>

<%# will_paginate @posts %>

</div>
</div>