<div class="container-fluid main-container">
<%= render "layouts/sidenav" %>
<div class="col-md-10 content">

    <h2 class="page-header">Join the discussion!</h2>

  <%= render 'form' %>
  <div class="panel panel-default" id="gchats">
    <div class="panel-body">
      <ul class="media-list">
        <%= render @gchats %>
      </ul>
    </div>
  </div>

</div>
<%= render "layouts/footer" %>
</div>