<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Name:</h1><%= @contact.name %>
    <p>
      <h1>Email:</h1><%= @contact.email %><br>
    </p>
    <p>
      <h1>Message:</h1><%= @contact.message %>
    </p>
  </body>
</html>