<div class="container-fluid main-container">
<%= render "layouts/sidenav" %>
<div class="col-md-10 content">

<!-- post -->
<%= render 'comments/form' %>

<!-- comments -->
            <div class="row">
                <div class="[ col-xs-6 col-sm-offset-0 col-sm-8 ]">   
                  <div class="page-header">
                    <h3><small class="pull-right">
                    <%=  pluralize(@post.comments.count, 'comment') %></small> Comments </h3>
                  </div> 
                   <div class="comments-list">
                    <% @comments.each do |comment| %>
                       <div class="right media">
                           <p class="pull-right"><small><%= time_ago_in_words(comment.created_at) %> ago</small>
                           <br>
                           <% if current_user.id == comment.user_id %>
                                   <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                                   <%# link_to 'Edit', edit_comment_path(comment) %>
                           <% end %>
                           </p>
                            <a class="media-left">
                              <% if comment.user.avatar? %>
                              <img class="img-circle" height="42" width="42" src="<%= comment.user.avatar %>">
                              <% else %>
                              <img class="img-circle" height="42" width="42" src="<%= comment.user.gravatar_url %>">
                              <% end %>
                            </a>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name"><%= link_to comment.user.name,comment.user %></h4>
                              <% if current_user.id == comment.user_id %>
                                <%= best_in_place comment, :body, :type => :textarea, :nil => "Click me to add content!" %><small><em>(click on the content to edit)</em></small>
                              <% else %>
                                <%= comment.body %>
                              <% end %>
                                  <div class="<%= comment.class %>-<%= comment.id %>">
                                  <%= render 'shared/like_form', likeable: comment %>
                                  <div class="likes"><%=
                                   pluralize(comment.likers(User).count, 'like') %></div>
                                  </div>
                            </div>
                          </div>
                    <% end %>
                   </div>  
                </div>
            </div>

<%# if current_user.id == @post.user_id %>
<%# link_to 'Edit', edit_post_path(@post) %>
<%# end %>
<%# link_to 'Back', posts_path %>

</div>
</div>