<div class="container-fluid main-container">
<div class="col-md-10 content">

<h1>Friend's Activities</h1>

<% @activities.each do |activity| %>
    <%= link_to activity.owner.name, activity.owner if activity.owner %>
    <%= render_activity activity %>
<% end %>

</div>
</div>