<div class="col-md-2 sidebar">
<div class="row">
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Main Menu -->
      <div class="side-menu-container">
        <ul class="nav navbar-nav">
          <li class="active">
                <% if current_user.avatar? %>
                    <%= image_tag(current_user.avatar_url, :width => 100, :height => 100) %>   
                    <%= current_user.name %>
                  <% else %>                 
                    <%= image_tag(current_user.gravatar_url, :width => 100, :height => 100) %>
                    <%= current_user.name %>           
                <% end %>
          </li>
          <!-- Dropdown-->
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl1">
              <span class="glyphicon glyphicon-dashboard"></span> Info <span class="caret"></span>
            </a>

            <!-- Dropdown level 1 -->
            <div id="dropdown-lvl1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a><b>Last Sign In date:</b> <%= current_user.last_sign_in_at.to_date %></a></li>
                  <li><a><b>Last Sign In time:</b> <%= current_user.last_sign_in_at.to_time.strftime("%H:%M:%S") %></a></li>
                  <li><a><b>Total Sign In count:</b> <%= current_user.sign_in_count %></a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
          <a href="/contacts/new">
          <span class="glyphicon glyphicon-question-sign"></span>Help?</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

  </div>
</div>      
</div>